version: '3.8'

services:
  app:
    build: .
    container_name: addresses-service
    environment:
      NODE_ENV: development
      PORT: 3000
    ports:
      - "3000:3000"
    volumes:
      - ./src:/app/src
      - ./data:/app/data
    command: npm run dev
